html {
    background-attachment: fixed;
    background-image: url('../images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--primary-font-family);
}

.main-header {
    background-color: rgba(var(--primary-background-color), 0.25);
    min-height: var(--main-header-min-height);
}

.main-header:hover {
    background-color: rgba(var(--primary-background-color), 0.2);
}

.main-navigation {
    background-color: rgba(var(--primary-background-color), 0.5);
    color: rgb(var(--navigation-link-color));
}

.main-navigation__menu {
    display: flex;
    flex-direction: column;
}

.main-navigation__link {
    display: block;
    font-size: var(--navigation-link-size);
    font-weight: var(--secondary-font-weight);
    padding: 15px 20px;
    transition-duration: var(--transition-duration);
    transition-property: background-color, color;
    transition-timing-function: ease-in-out;
}

.main-navigation__link:hover {
    background-color: rgb(var(--secondary-background-color), 0.9);
    color: rgb(var(--secondary-color));
}

.main-header__info {
    margin-bottom: auto;
    margin-top: auto;
}

.main-header__info__title {
    color: rgb(var(--primary-color));
    font-size: var(--primary-header-size);
    font-weight: var(--primary-font-weight);
    margin-bottom: 25px;
}

.main-header__info__link {
    background-color: rgba(var(--secondary-background-color), 0.9);
    border-radius: 25px;
    color: rgb(var(--secondary-color));
    display: inline-block;
    font-size: var(--navigation-link-size);
    font-weight: var(--secondary-font-weight);
    padding: 15px 20px;
    transition-duration: var(--transition-duration);
    transition-property: background-color, border-radius;
    transition-timing-function: ease-in-out;
}

.main-header__info__link:hover {
    background-color: rgba(var(--hover-link-background-color), 0.9);
    border-radius: 15px;
}

.services {
    background-color: rgba(var(--primary-background-color), 0.5);
    color: rgb(var(--primary-color));
}

.services:hover {
    background-color: rgba(var(--primary-background-color), 0.4);
}

.services__block {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.services__item {
    align-items: center;
    flex: 1;
    margin: 25px;
}

.services__item__icon {
    color: rgb(var(--icon-color));
}

.services__item:hover .services__item__icon {
    color: rgb(var(--icon-hover-color));
}

.services__item__header {
    border-bottom: 1px dotted rgb(var(--primary-color));
    font-size: var(--item-header-size);
    font-weight: var(--secondary-font-weight);
    margin: 15px 0;
}

@media (max-width: 200px) {
    .main-header__info__link {
        padding: 10px;
    }

    .services__item {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (min-width: 820px) {
    .main-navigation__menu {
        flex-direction: row;
        justify-content: space-between;
    }

    .services__block {
        align-items: stretch;
        flex-direction: row;
    }
}
