html {
    background-attachment: fixed;
    background-image: url('../images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--primary-font-family);
}

.main-header {
    background-color: rgba(var(--primary-background-color), 0.25);
    min-height: var(--main-header-min-height);
}

.main-header:hover {
    background-color: rgba(var(--primary-background-color), 0.2);
}

.main-navigation {
    background-color: rgba(var(--primary-background-color), 0.5);
    color: rgb(var(--navigation-link-color));
}

.main-navigation__menu {
    display: flex;
    flex-direction: column;
}

.main-navigation__link {
    display: block;
    font-size: var(--navigation-link-size);
    font-weight: var(--secondary-font-weight);
    padding: 15px 20px;
    transition-duration: var(--transition-duration);
    transition-property: background-color, color;
    transition-timing-function: ease-in-out;
}

.main-navigation__link:hover {
    background-color: rgb(var(--secondary-background-color), 0.9);
    color: rgb(var(--secondary-color));
}

.main-header__info {
    margin-bottom: auto;
    margin-top: auto;
}

.main-header__info__title {
    color: rgb(var(--primary-color));
    font-size: var(--primary-header-size);
    font-weight: var(--primary-font-weight);
    margin-bottom: 25px;
}

.main-header__info__link {
    background-color: rgba(var(--secondary-background-color), 0.9);
    border-radius: 25px;
    color: rgb(var(--secondary-color));
    display: inline-block;
    font-size: var(--navigation-link-size);
    font-weight: var(--secondary-font-weight);
    padding: 15px 20px;
    transition-duration: var(--transition-duration);
    transition-property: background-color, border-radius;
    transition-timing-function: ease-in-out;
}

.main-header__info__link:hover {
    background-color: rgba(var(--hover-link-background-color), 0.9);
    border-radius: 15px;
}

.services {
    background-color: rgba(var(--primary-background-color), 0.5);
}

.services:hover {
    background-color: rgba(var(--primary-background-color), 0.4);
}

.services__block {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.services__item {
    align-items: center;
    flex: 1;
    margin: 25px;
}

.services__item__icon {
    color: rgb(var(--icon-color));
}

.services__item:hover .services__item__icon {
    color: rgb(var(--icon-hover-color));
}

.services__item__header {
    border-bottom: 1px dotted rgb(var(--primary-color));
    font-size: var(--item-header-size);
    font-weight: var(--secondary-font-weight);
    margin: 15px 0;
}

.portfolio {
    background-color: rgba(var(--primary-background-color), 0.6);
}

.portfolio:hover {
    background-color: rgba(var(--primary-background-color), 0.5);
}

.portfolio__block {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.portfolio__item {
    background-color: rgba(var(--primary-background-color), 0.8);
    padding: 10px;
    text-align: center;
    transition-duration: var(--transition-duration);
    transition-property: background-color;
    transition-timing-function: ease-in-out;
}

.portfolio__item:hover {
    background-color: rgb(var(--primary-background-color));
}

.portfolio__item__photo-container {
    padding-top: 75%;
    position: relative;
    width: 100%;
}

.portfolio__item__photo-container:after {
    background-color: rgb(var(--primary-background-color));
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.25;
    position: absolute;
    top: 0;
    transition-duration: var(--transition-duration);
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    width: 100%;
}

.portfolio__item:hover .portfolio__item__photo-container:after {
    opacity: 0;
}

.portfolio__item__photo {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.portfolio__item__title {
    align-items: center;
    flex: 1;
    font-size: var(--item-header-size);
    font-weight: var(--secondary-font-weight);
    justify-content: center;
    margin: 15px 0;
}

.about {
    background-color: rgba(var(--primary-background-color), 0.5);
}

.about:hover {
    background-color: rgba(var(--primary-background-color), 0.4);
}

.about-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.about-info__block {
    flex: 1;
}

.about-info__photo-container {
    padding-top: 30%;
    position: relative;
    width: 100%;
}

.about-info__photo {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.about-info__info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-info__title {
    font-size: var(--item-header-size);
    font-weight: var(--secondary-font-weight);
    margin: 15px 0;
    text-align: center;
}

.about-info__description {
    padding: 5px;
}

@media (max-width: 200px) {
    .main-header__info__link {
        padding: 10px;
    }

    .services__item {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 500px) {
    .portfolio__block {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 820px) {
    .main-navigation__menu {
        flex-direction: row;
        justify-content: space-between;
    }

    .services__block {
        align-items: stretch;
        flex-direction: row;
    }

    .portfolio__block {
        grid-template-columns: repeat(3, 1fr);
    }

    .about-info {
        flex-direction: row;
    }

    .about-info__photo-container {
        padding-top: 25%;
    }
}
