/* Backgrounds */
.primary-background {
    background-color: rgb(var(--primary-background-color));
}

/* Containers */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container-max-width);
}

/* Flexbox */
.flex-1 {
    flex: 1;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Icons */
.icon {
    font-size: inherit;
}

/* Links */
.external-link {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

/* Sections */
.section {
    color: var(--primary-color);
    padding-bottom: 50px;
    padding-top: 50px;
}

.section__title {
    font-size: var(--section-title-font-size);
    font-weight: var(--secondary-font-weight);
    margin-bottom: 20px;
    text-align: center;
}

.section__subtitle {
    font-size: var(--section-subtitle-font-size);
    font-weight: var(--secondary-font-weight);
    margin: 15px 0;
}

/* Text */
.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}
