/* Backgrounds */
.primary-background {
    background-color: rgb(var(--primary-background-color));
    color: var(--primary-color);
}

.secondary-background {
    background-color: rgb(var(--secondary-background-color));
    color: var(--secondary-color)
}

/* Containers */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container-max-width);
}

/* Flexbox */
.flex-1 {
    flex: 1;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Icons */
.icon {
    font-size: inherit;
}

/* Images */
.image-cover {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Links */
.external-link {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

/* Paddings */
.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.pb-1 {
    padding-bottom: 5px;
}

/* Sections */
.section {
    padding-bottom: 50px;
    padding-top: 50px;
}

.section__title {
    font-size: var(--section-title-font-size);
    font-weight: var(--secondary-font-weight);
    margin-bottom: 20px;
}

.section__subtitle {
    font-size: var(--section-subtitle-font-size);
    font-weight: var(--secondary-font-weight);
    margin: 15px 0;
}

/* Text */
.text {
    line-height: var(--text-line-height);
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}
